.btn__container {
  @include display-grid($grid, 1.8rem);

  row-gap: 1rem;

  > div {
    button {
      @include font-stack('Poppins', 'san-serif', normal, 600, 1.1rem, 20px);
      @include buttons(100%, 1.1rem);

      transition: all 0.5s ease-out;
      &:hover {
        background: $primary-color;
        color: #fff;
        border: solid 0.09rem $primary-color;
      }

      &.active__btn {
        background-color: $primary-color;
        border: solid 0.09rem $primary-color;
        color: #fff;
        transition: all 0.5s ease-out;
      }
    }
  }
}

.dir_btn_container {
  @include display-flex(row, flex-end, center);
  margin-top: 4rem;

  a {
    @include buttons(17%, 0.6rem);
    
    text-align: center;
    margin-left: 1.1rem;
    font-weight: 550;
    transition: all 0.4s ease-out;

    &:hover {
      box-shadow: $shadow-1;
    }
    
    &:nth-of-type(1) {
      @include display-flex(row, flex-start, center);
      gap: 1.1rem;

      img {
        transform: rotate(90deg);
        width: 1.55rem
      }
    }

      &:nth-of-type(2) {
        background: $primary-color;
        color: #fff;
        border: solid 0.09rem $primary-color;

        &.inactive__link {
          pointer-events: none;
          cursor: not-allowed;
        }
      }
  }
}
